html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

canvas {
	display: block;
	box-shadow: inset 0 0 10px #000;
	width: 100%;
}

.column {
	width: 33.33%;
	height: 100%;
	float: left;
}

.type {
	height: 25%;
}

.statistics {
	height: 75%;
}

.lines {
	height: 10%;
}

.board {
	height: 90%
}

.score {
	height: 33%;
}

.next {
	height: 34%;
}

.level {
	height: 33%;
}
